<!DOCTYPE html>
<html>
    <head>
        <title>Hungry Bear - Register</title>
    </head>

    <body>

        <h1>Register here!</h1>
        <h3 style="text-decoration: underline;">Fill out the information below.</h3>
        {% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}
        <form id="user_form" method="post" action="../register/" enctype="multipart/form-data" style="margin-bottom: 15px;">
            {% csrf_token %}
            <p>User Name <input id="id_user_name" name="username" type="text" placeholder="bob123" style="width: 265px;"/></p>
            <p>Password <input id="id_password" name="password" type="password" placeholder="**********" style="width: 265px;"/></p>
            <p>Email <input id="id_email" name="email" type="email" placeholder="example@berkeley.edu" style="width: 265px;"/></p>
            <p>Cell Phone <input id="id_phone" name="phone" type="text" placeholder="+15043368080" style="width: 265px;"/></p>
            <p>We will send a text message verification code to the specified number</p>
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Sign Up" />
        </form>
        <div id='buttons'>
            <a href="../"><font>Back to main page</font></a>
        </div>
    </body>
</html>